{{< core/modal }}

    {{$title}}
        {{#str}} title, tiny_html_components{{/str}}
    {{/title}}

    {{$body}}
    <fieldset>
        <legend>{{#str}}choice_legend, tiny_html_components{{/str}}</legend>
        <div class="form-group row">
            <label for="component" class="col-sm-3 col-form-label">{{#str}}component, tiny_html_components{{/str}}</label>
            <div class="col-sm-9">
                <select  id="component" name="component" class="form-control" data-holder = "component-selector">
                    <!-- Components list, alphabetic sort -->
                    <option value=""> {{#str}}component_placeholder, tiny_html_components{{/str}}</option>
                    <optgroup label="Built In Components">
                        {{#selectList}}
                            <option value={{id}}>{{string}}</option>
                        {{/selectList}}
                    </optgroup>
                    {{#customGroup}}
                        <optgroup label="Custom Components">
                            {{#customComponent}}
                                <option value={{value}}  data-content ="{{custom-component-content}}">{{name}}</option>
                            {{/customComponent}}
                        </optgroup>
                    {{/customGroup}}
                    
                </select>
            </div>
        </div>
        <div id = "options-placeholder"></div>
        <p style="text-align: right;">
            <a href={{customUrl}} target="_blank">{{#str}}custom_components_link, tiny_html_components{{/str}}</a>
        </p>
        </fieldset>

        <fieldset>
        <legend>{{#str}}preview_legend, tiny_html_components{{/str}}</legend>
        <p style="margin-bottom: 20px; font-weight: bold;"><i>{{#str}}preview_desc, tiny_html_components{{/str}}</i></p>
        <div id="component_preview"></div>
    </fieldset>
    {{/body}}

    {{$footer}}
    <p style="margin-top: 20px;">{{#str}}suggestion, tiny_html_components{{/str}}</p>
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel, moodle {{/str}}</button>
        <button type="button" class="btn btn-primary" data-action="save">{{#str}} insert, tiny_html_components{{/str}}</button>
    {{/footer}}
{{/ core/modal }}

