        <div class="form-group row" id="nav_nb_form-group">
            <label for="nav_nb" class="col-sm-3 col-form-label">{{#str}}nav_nb, tiny_html_components{{/str}}</label>
            <div class="col-sm-9">
                <input data-holder ="params" id="nav_nb" name="nav_nb" type="number" min="1" value="1" size="30" class="form-control"/>
            </div>
        </div>